# Visual studio/code
.vs
*.vcxproj*
*.csproj*
*.sln

# Cache
__pycache__
*.vereg

# Debug
Editor/Profile.json

# Binaries
/bin
/bin-int
/vendor/premake/bin
Editor/Resources/Scripts
Editor/Scripts/Intermediates
